html{
background: url('background.jpg');
}

.frog {
    background: url('froggie.png');
}

h1{
    text-align: center;
    color: white;
}
h2 {
text-align: center;
color: white;
font-size: 1.2em;;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    font-size: 15px;
}

.grid {
    border: 5px solid white;
    height: 900px;
    width: 720px;
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: url('nature_720x900.jpeg');
}

.grid div {
    height: 100;
    width: 80px;
}

.ending-block {
    background: url('fly.png');
    background-repeat: no-repeat;
}

.l1, .l2, .l3 {
    background: url('log.jpeg');
    background-repeat: no-repeat;
}

.road{
    background-color: rgb(148, 199, 148);
}
.river {
background-color: rgb(207, 206, 206);
}
.l4, .l5 {
    background-color: rgb(195, 231, 231);
    background: url('wave.jpeg');
}

.c1 {
    background: url('carL.png');
    background-repeat: no-repeat;
}

.c2 {
    background: url('carR.png');
    background-repeat: no-repeat;
}

.c3 {
    background-color: rgb(134, 134, 134);
}

