html{
background: url('background.jpg');
}
body{
display: flex;
align-items: center;
justify-content: center;
}
.grid {
    border: 5px solid black;
    height: 810px;
    width: 810px;
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(156, 254, 254);
}

.grid div {
    height: 90px;
    width: 90px;
}

.ending-block {
    background-color: red;
}

.starting-block {
    background-color: blue;
}
.l1, .l2, .l3 {
    background-color: brown;
}

.l4, .l5 {
    background-color: lightblue;
}

.c1 {
    background-color: black;
}

.c2, .c3 {
    background-color: lightgrey;
}

.frog {
    background-color: green;
}
